extends ../__layout/main

block content
  .container.mt-4
    h1.mb-4 🧪 Listado de Laboratorios

    //- Botón de nuevo laboratorio
    a.btn.btn-primary(href='/nuevolaboratorio')
      i.bi.bi-plus-circle.me-2
      | Nuevo Laboratorio
    
    //- Tabla responsive
    .table-responsive
      table.table.table-striped.table-hover.align-middle.mt-3
        thead.table-dark
          tr
            th(scope='col') Nombre
            th(scope='col') Nacionalidad
            th(scope='col' style='width: 150px') Acciones
        tbody
          each laboratorio in laboratorios
            tr
              td= laboratorio.nombre
              td= laboratorio.nacionalidad
              td
                .d-flex.gap-2
                  a.btn.btn-sm.btn-outline-primary(href=`editarlaboratorio/${laboratorio.id}`)
                    i.bi.bi-pencil
                  form(method='POST' action=`/borrarlaboratorio/${laboratorio.id}?_method=DELETE`)
                    input(type='hidden' name='_csrf' value=csrfToken)
                    button.btn.btn-sm.btn-outline-danger(type='submit')
                      i.bi.bi-trash

    