extends ../__layout/main

block content
  .container.mt-4
    h1.mb-4  Nueva Ubicaci贸n

    form#formNuevaUbicacion
      input(type="hidden" name="_csrf" value=csrfToken)

      .form-floating.mb-3
        input.form-control(
          type="text"
          id="nombre"
          name="nombre"
          required
          autofocus
          placeholder = ""
        )
        label.form-label(for="nombre") Nombre
        small.form-text.text-muted M铆nimo 2 caracteres, m谩ximo 100

      .form-floating.mb-3
        input.form-control(
          type="text"
          id="direccion"
          name="direccion"
          placeholder = ""
        )
        label.form-label(for="direccion") Direcci贸n

      .form-floating.mb-3
        input.form-control(
          type="tel"
          id="telefono"
          name="telefono"
          placeholder = ""
        )
        label.form-label(for="telefono") Tel茅fono

      .form-floating.mb-3
        select.form-select(
          id="id_provincia"
          name="id_provincia"
          required
        )
          option(value="" disabled selected) Seleccione una provincia
          each provincia in provincias
            option(value=provincia.id) #{provincia.nombre}
        label.form-label(for="id_provincia") Provincia

      .form-floating.mb-3
        select.form-select(
          id="tipo"
          name="tipo"
          required
        )
          option(value="" disabled selected) Seleccione un tipo de ubicaci贸n
          option(value="Deposito Nacional") Dep贸sito Nacional
          option(value="Distribucion") Distribuci贸n
          option(value="Deposito Provincial") Dep贸sito Provincial
          option(value="Centro Vacunacion") Centro de Vacunaci贸n
          option(value="Centro Descarte") Centro de Descarte
        label.form-label(for="tipo") Tipo de Ubicaci贸n

      .d-flex.justify-content-end.mt-3
        button.btn.btn-primary.mb-3(type="button" id="btnGuardar")
          i.bi.bi-save.me-2
          | Guardar
        a.btn.btn-secondary.mb-3(href="/ubicaciones" type="button")
          i.bi.bi-x-circle.me-2
          | Cancelar

    script(src="/js/ubicacion/nuevoUbicacion.js")